* {
  --graybrack: hsl(202, 20%, 37%);
  --blueish:hsl(189, 37%, 52%);
  --lightgreen:hsl(95, 50%, 65%);
  --strongyellow:hsl(45, 92%, 76%);
  --red:hsl(360, 90%, 60%);

  --parchment: hsl(40, 45%, 90%);
  --dark-parchment: hsl(40,45%, 60%);
  --brown: hsl(40, 45%, 30%);
  --dark-brown: hsl(40,45%, 20%);

  --border: var(--brown);
  --header: var(--dark-parchment);
  --text: var(--dark-brown);
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: var(--text);
  -webkit-text-size-adjust:none;
}

body {
  background-color: hsl(40, 45%, 90%);
  background-color: var(--parchment);
}

header {
  background: hsl(95, 50%, 65%);
  background: var(--header);
  position: sticky;
  top: 0px;
  z-index: 999;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
}

header h1 {
  display: none;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  flex-grow: 0;
  font-weight: normal;
}

nav {
  display: inline-block;
  flex-grow: 1;
}

nav ul {
  color: inherit;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: -webkit-sticky;
}

nav li {
  color: inherit;
  list-style: none;
  flex-grow: 1;
  text-align: center;
  margin: 0.5rem;
}

nav a {
  color: inherit;
  text-decoration: none;
  text-align: inherit;
}

section {
  margin: 3rem auto;
  padding: 2rem 2rem 1.5rem 2rem;
  background-color: white;
  border-radius: 1rem;
  width: 95%;
  max-width: 800px;
  color: inherit;
  border: 2px solid var(--border);
}

.container {
  position: relative;
}

/*Moving the title of each section*/
section h2 {
  float: left;
  position: absolute;
  top: -3.5rem;
  padding: 0.5rem 2rem;
  background: white;
  border-radius: 20px;
  font-weight: 500;
}

.hoverable {
  color: hsl(360, 90%, 60%);
  color:var(--red);
}

.hoverable:hover {
  color: hsl(202, 20%, 37%);
  color: var(--text);
}

#profile-pic {
  margin: 0 auto;
  position: relative;
  top: -5px;
  width: 8rem;
  height: 8rem;
  border: 2px solid var(--border);
  border-radius: 50%;
  background-color: white;
  font-size: 0.75rem;
  line-height: 4rem;
  text-align: center;
}

.container a {
  line-break: strict;
  color: var(--red)
}

.container .doi {
  line-break: anywhere;
}

.container a:active {
  color: var(--text);
}

.container a:visited {
  color: var(--text);
}

.container h3,h4,h5,h6,p,ul,li {
  color: var(--text);
}

table {
  border-spacing: 10px 4px;
}

td{
  vertical-align: text-top;
  min-width: 135px;
}

td h3 {
  display: inline;
}

.expandable {
  margin: 0 5px;
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 0.8rem solid var(--border);
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  cursor: pointer;
}

.expanded {
  margin: 0 5px;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 0.8rem solid var(--border);
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  cursor: pointer;
}

.hidden {
  display: none;
}

.skill-icons {
  display: flex;
  padding: 0;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skill-icons li{
  display: inline-block;
  min-width: 40px;
  margin: 10px;
}

.small-screen {
  position: relative;
}

.small-screen td {
  padding-left: 1.5rem;
}

.large-screen {
  display: none;
}

@media only screen and (min-width: 500px){
  header h1 {
    font-size: 1.5rem;
  }

  section {
    width: 90%;
  }

  #profile-pic {
    margin: 0;
    float: right;
    right: -3rem;
    shape-outside: circle();
  }

  .large-screen {
    display: table-cell;
  }

  .small-screen {
    display: none;
  }
}

@media only screen and (min-width: 780px){
  header h1 {
    display: inline-block;
    font-size: 1.5rem;
  }
}

@media only screen and (min-width : 1000px) {
  header h1 {
    font-size: 2.5rem;
  }
}